<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_testmouse_path(@testmouse) %> |
<%= link_to 'Back', testmouses_path %>


<%= link_to 'Edit', edit_user_post_path(current_user.id, post.id) %>