<div class="container">
    <img class="img-fluid"
     src="<%= @post.image.url %>"
     alt="<%= @post.title %>">
    <h2><%= @post.title %></h2>
    <div class="article">
        <%= @post.article %>
    </div>
</div>
